@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Impostazioni di reset globale per tutti gli elementi HTML */
* {
    padding: 0; /* Rimuove il padding predefinito degli elementi */
    margin: 0; /* Rimuove il margine predefinito degli elementi */
    outline: none; /* Rimuove l'outline (contorno) quando un elemento è in focus */
    border: none; /* Rimuove i bordi predefiniti degli elementi */
    box-sizing: border-box; /* Imposta il box-sizing a border-box per tutti gli elementi, in modo che il padding e il bordo non influiscano sul calcolo delle dimensioni */
}

/* Rimuove la sottolineatura dai link (tag "a") */
a {
    text-decoration: none; /* Imposta il valore "none" per la proprietà "text-decoration" per rimuovere la sottolineatura dai link */
}

body {
    font-family: 'Space Grotesk', sans-serif; /* Imposta il tipo di carattere per il testo all'interno del corpo utilizzando "Space Grotesk" come prima scelta e "sans-serif" come seconda scelta in caso il primo tipo di carattere non sia disponibile. */
    background-color: #18181B; /* Imposta il colore di sfondo del corpo a #18181B, che è un tono di grigio scuro. */
}

nav {
    max-width: 1920px; /* Larghezza massima della barra di navigazione */
    margin: auto; /* Centra orizzontalmente la barra di navigazione nella pagina */
    margin-bottom: 2rem;
    padding: 1rem 4rem; /* Spaziatura interna con 2rem in alto e in basso, 1rem a sinistra e a destra */
    display: flex; /* Utilizza il layout flessibile (flex) per il contenuto all'interno della barra di navigazione */
    align-items: center; /* Allinea gli elementi verticalmente al centro della barra di navigazione */
    justify-content: space-between; /* Distribuisci uniformemente gli elementi orizzontalmente, spaziandoli tra loro */
    gap: 2rem; /* Aggiunge uno spazio di 2rem tra gli elementi della barra di navigazione */
}

.nav-logo {
    font-size: 50px; /* Dimensione del testo */
    color: #fff; /* Colore del testo */
}

.nav-links {
    list-style: none; /* Rimuove i punti elenco predefiniti dalla lista */
    display: flex; /* Utilizza il layout flessibile (flex) per gli elementi all'interno della lista */
    align-items: center; /* Allinea verticalmente gli elementi al centro della lista */
    gap: 3rem; /* Aggiunge uno spazio di 3rem tra gli elementi della lista */
}

.link a {
    position: relative; /* Imposta la posizione relativa per gli elementi <a> all'interno degli elementi con classe .link */
    padding-bottom: 0.75rem; /* Aggiunge spazio inferiore di 0.75rem (pixel o unità di misura specificata) per separare i link dagli altri contenuti */
    color: #fff; /* Imposta il colore del testo dei link su #fff, che rappresenta il colore bianco */
}

/* Stile per il selettore ::after degli elementi <a> all'interno degli elementi con classe .link */
.link a::after {
    position: absolute; /* Imposta la posizione assoluta per l'elemento ::after */
    height: 2px; /* Imposta l'altezza a 2 pixel */
    width: 0; /* Imposta la larghezza a 0 inizialmente (il sottolineato inizia non visibile) */
    bottom: 0; /* Posiziona il bordo inferiore dell'elemento ::after a 0 dalla parte inferiore dell'elemento padre */
    left: 0; /* Posiziona il bordo sinistro dell'elemento ::after a 0 dalla parte sinistra dell'elemento padre */
    background-color: #1D4ED8; /* Imposta il colore di sfondo a #1D4ED8, che è un azzurro */
    transition: all 0.3s ease; /* Applica una transizione a tutte le proprietà con una durata di 0.3 secondi e una funzione di transizione "ease" */
}

.link a:hover::after {
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1D4ED8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1E40AF;
}

.container{
    max-width: 1000px;
    margin: auto;
    padding: 1rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1D4ED8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: center;
    gap: 3rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 1rem;
    color: #ccc;
}

section .header{
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #27272A;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1E40AF;
    padding: 1px 5px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1E40AF;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272A;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1E40AF;
    border-color: #1E40AF;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

/*Responsive*/
@media (width < 900px){
    .nav-links{
        grid-template-columns: 1fr 200px;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }
}